<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kodevian.beaconapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:name=".MavenApplication"
        android:label="Estimote Demos"
        android:theme="@style/EstimoteTheme">

        <activity
            android:name=".activities.AllDemosActivity"
            android:label="Estimote Demos"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ListBeaconsActivity"
            android:label="Select Beacon"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.DistanceBeaconActivity"
            android:label="Distance Demo"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.NotifyDemoActivity"
            android:label="Notify Demo"
            android:screenOrientation="portrait"/>

    </application>

</manifest>